<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="FBCtrl">
        <label class="item">
            <button class="button icon-left ion-social-facebook button-block button-positive" ng-disabled="buttonlogin" ng-click="fbLogin()">
                  Log In with Facebook
            </button>
        </label>
        <label class="item" >
          <button class="button icon-left ion-social-facebook button-block button-stable" ng-disabled="buttonlogout"  ng-click="logout()">
                    Log Out
          </button>
        </label>
      </div>
  </ion-content>
</ion-modal-view>
