<ion-view>
  <ion-nav-title>
    {{team.name}}
  </ion-nav-title>
  <ion-content>
    <table>
      <tr>
        <td>
          <b>Group</b>
        </td>
        <td>{{team.group}}</td>
      </tr>
      <tr>
        <td>
          <b>Rank</b>
        </td>
        <td>{{team.rank}}</td>
      </tr>
      <tr>
        <td>
          <b>Wins</b>
        </td>
        <td>{{team.win}}</td>
      </tr>
      <tr>
        <td>
          <b>Draws</b>
        </td>
        <td>{{team.draw}}</td>
      </tr>
      <tr>
        <td>
          <b>Loses</b>
        </td>
        <td>{{team.lose}}</td>
      </tr>
      <tr>
        <td>
          <b>Played games</b>
        </td>
        <td>{{team.played_games}}</td>
      </tr>
      <tr>
        <td>
          <b>Points</b>
        </td>
        <td>{{team.points}}</td>
      </tr>
    </table>
  </ion-content>
</ion-view>