<ion-view>
<ion-nav-title>
    Ticket
  </ion-nav-title>
  <ion-content overflow-scroll="true" class="wide-as-needed">
         <table>
            <tr>
              <th>ID</th>
              <th>Home</th>
              <th>Away</th>
              <th>Type</th>
              <th>Coefficient</th>
            </tr>
            <tr ng-repeat="ticket in tickets">
              <th>{{ticket.match_id}}</th>
              <th>{{ticket.home}}</th>
              <th>{{ticket.away}}</th>
              <th>{{ticket.type}}</th>
              <th ng-if="ticket.type == 1">{{ticket.one}}</th>
              <th ng-if="ticket.type == 'X'">{{ticket.X}}</th>
              <th ng-if="ticket.type == 2">{{ticket.two}}</th>
            </tr>
          </table>
    </ion-content>
</ion-view>