<ion-view>
<ion-nav-title>
    Ticket
  </ion-nav-title>
  <ion-content overflow-scroll="true" class="wide-as-needed">
         <table>
            <tr>
              <th>ID</th>
              <th>Home</th>
              <th>Away</th>
              <th>Type</th>
              <th>Coefficient</th>
            </tr>
            <tr ng-repeat="tc in ticket">
              <th>{{tc.match_id}}</th>
              <th>{{tc.home}}</th>
              <th>{{tc.away}}</th>
              <th>{{tc.type}}</th>
              <th ng-if="tc.type == 1">{{tc.one}}</th>
              <th ng-if="tc.type == 'X'">{{tc.X}}</th>
              <th ng-if="tc.type == 2">{{tc.two}}</th>
            </tr>
          </table>
    </ion-content>
</ion-view>