<ion-view>
  <ion-nav-title>
    {{team.name}}
  </ion-nav-title>
  <ion-content>
    <table>
      <tr>
        <td>Group:</td>
        <td>{{team.group}}</td>
      </tr>
      <tr>
        <td>Rank:</td>
        <td>{{team.rank}}</td>
      </tr>
      <tr>
        <td>Wins:</td>
        <td>{{team.win}}</td>
      </tr>
      <tr>
        <td>Draws:</td>
        <td>{{team.draw}}</td>
      </tr>
      <tr>
        <td>Loses:</td>
        <td>{{team.lose}}</td>
      </tr>
      <tr>
        <td>Played games:</td>
        <td>{{team.played_games}}</td>
      </tr>
      <tr>
        <td>Points:</td>
        <td>{{team.points}}</td>
      </tr>
    </table>
  </ion-content>
</ion-view>