<ion-view>
  <ion-nav-title>
    {{team.name}}
  </ion-nav-title>
  <ion-content>
    <ion-list>
          <ion-item>
            Group: {{team.group}}
          </ion-item>
          <ion-item>
            Rank: {{team.rank}}
          </ion-item>
          <ion-item> 
            Wins: {{team.win}}
          </ion-item>
          <ion-item>
            Draws: {{team.draw}}
          </ion-item>
          <ion-item>
             Loses: {{team.lose}}
          </ion-item>
          <ion-item> 
            Played games: {{team.played_games}}
          </ion-item>
          <ion-item>
            Points: {{team.points}}
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>