<ion-view view-title="Matches">
    <ion-content ng-controller="MatchesCtrl">
      <ion-scroll direction="x" class="wide-as-needed">
          <div  class="row header">
              <div class="col col-10">ID</div>
              <div class="col col-10">Day</div>
              <div class="col col-20">Time</div>
              <div class="col col-50">Home</div>
	  	        <div class="col col-50">Away</div>
              <div class="col col-10">1</div>
	  	        <div class="col col-10">X</div>
	  	        <div class="col col-10">2</div>
          </div>
      </ion-scroll>
    </ion-content>
</ion-view>