<ion-view view-title="News Feed">
    <ion-content>

        <ion-refresher
                pulling-text="Pull to refresh..."
                ng-if="!noMoreItemsAvailable"
                on-refresh="loadData()">
        </ion-refresher>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    <b>Order by</b>
                </div>
                <select ng-model="data.newstype">
                    <option value="Latest">Latest</option>
                    <option value="Recent">Recent</option>
                    <option value="Older">Older</option>
                </select>
            </label>
        </div>
        <div ng-if="!noMoreItemsAvailable" ng-repeat="story in filtered = (newsarr | orderBy: ['id'] | filter: {newstype: data.newstype})" class="card trip">
            <div class="item item-divider">
                {{story.newstype}}
            </div>
            <div class="item item-text-wrap">
                {{story.newsdesc}}
            </div>
        </div>
        <ion-infinite-scroll
                ng-if="!noMoreItemsAvailable"
                on-infinite="loadData()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
