<ion-view view-title="Matches">
    <ion-content overflow-scroll="true" class="wide-as-needed">   
         <table>
            <tr>
              <th>
                <b>ID</b>
              </th>
              <th>
                <b>Day</b>
              </th>
              <th>
                <b>Time</b>
              </th>
              <th>
                <b>Home</b>
              </th>
              <th>
                <b>Away</b>
              </th>
              <th>
                <b>1</b>
              </th>
              <th>
                <b>X</b>
              </th>
              <th>
                <b>2</b>
              </th>
            </tr>
            <tr ng-repeat="match in matches">
              <td>{{match.match_id}}</td>
              <td>{{match.day}}</td>
              <td>{{match.time}}</td>
              <td>{{match.home}}</td>
              <td>{{match.away}}</td>
              <td>{{match.one}}</td>
              <td>{{match.X}}</td>
              <td>{{match.two}}</td>
            </tr>
          </table>
    </ion-content>
</ion-view>