<ion-view view-title="Bet">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear button-positive" ng-click="openModal()">Login</button>
  </ion-nav-buttons>
  <ion-content>
         <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="loadTicket()">
        </ion-refresher>
    <form action="" name="betForm" ng-click="submitBet()">
               <div class="list">
                   <label class="item item-input item-floating-label">
                       <span class="input-label">ID</span>
                       <input type="number" placeholder="ID" name="id" ng-model="data.id" min="1001" max="1008" autocomplete="off" required>
                   </label>
                   <div role="alert">
                      <div ng-if="betForm.id.$error.required" class="text-center assertive">ID Required!</div>
                      <div ng-if="betForm.id.$error.min" class="text-center assertive">The ID doesn't exist!</div>
                      <div ng-if="betForm.id.$error.max" class="text-center assertive">The ID doesn't exist!</div>
                   </div>
                   <label class="item item-input item-floating-label">
                       <span class="input-label">Type</span>
                       <input type="text" placeholder="Type" name="type" ng-model="data.type" minlength="1" maxlength="1" ng- required autocomplete="off">
                   </label>
                   <div role="alert">
                      <div ng-if="betForm.type.$error.required" class="text-center assertive">Bet Type Required! (1, X, 2)</div>
                      <div ng-if="betForm.type.$error.minlength" class="text-center assertive">Not a valid bet type!</div>
                      <div ng-if="betForm.type.$error.maxlength" class="text-center assertive">Not a valid bet type!</div>
                   </div>
                   <button ng-disabled="!betForm.$valid || !buttonClicked" class="button button-block button-positive">Bet</button>
               </div>
           </form>
        <div ng-hide="isEmpty">
             <a class="button button-dark icon icon-right ion-chevron-right button-block" href="#tab/bet/{{tinfo[0].email}}">
                  {{tinfo[0].fbname}}'s ticket
             </a>
           </div>
  </ion-content>
</ion-view>