<ion-view view-title="Bet">
     <ion-nav-buttons side="secondary">
      <button class="button button-clear button-positive" ng-click="openModal()">Login</button>
    </ion-nav-buttons>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="ID">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Type">
      </label>
    </div>
    <button class="button button-block button-positive">Bet</button>
  </ion-content>
</ion-view>
