<ion-view view-title="Bet">
  <ion-nav-buttons side="secondary">
      <button class="button button-clear button-positive" ng-click="openModal()">Login</button>
  </ion-nav-buttons>
  <ion-content>
         <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="loadTicket()">
        </ion-refresher>
               <div class="list">
                   <label class="item item-input item-floating-label">
                       <span class="input-label">ID</span>
                       <input type="number" placeholder="ID" name="id" ng-model="data.id" min="1001" max="1008" autocomplete="off" required>
                   </label>
                   <div role="alert">
                      <div ng-if="betForm.id.$error.required" class="text-center assertive">ID Required!</div>
                      <div ng-if="betForm.id.$error.min" class="text-center assertive">The ID doesn't exist!</div>
                      <div ng-if="betForm.id.$error.max" class="text-center assertive">The ID doesn't exist!</div>
                   </div>
                   <div class="row">
                      <ion-radio  class="col" value="1" ng-model="data.type">1</ion-radio>
                      <ion-radio  class="col" value="X" ng-model="data.type">X</ion-radio>
                      <ion-radio  class="col" value="2" ng-model="data.type">2</ion-radio>
                   </div>
                   <button  class="button button-block button-positive" ng-click="submitBet()">Bet</button>
               </div>
        <div ng-hide="isEmpty">
             <a class="button button-dark icon icon-right ion-chevron-right button-block" href="#tab/bet/{{tinfo[0].email}}">
                  {{tinfo[0].fbname}}'s ticket
             </a>
           </div>
  </ion-content>
</ion-view>