<ion-view view-title="Matches">
    <ion-content overflow-scroll="true" class="wide-as-needed">
         <table>
            <tr>
              <th>ID</th>
              <th>Day</th>
              <th>Time</th>
              <th>Home</th>
              <th>Away</th>
              <th>1</th>
              <th>X</th>
              <th>2</th>
            </tr>
            <tr ng-repeat="match in matches">
              <td>{{match.match_id}}</td>
              <td>{{match.day}}</td>
              <td>{{match.time}}</td>
              <td>{{match.home}}</td>
              <td>{{match.away}}</td>
              <td>{{match.one}}</td>
              <td>{{match.X}}</td>
              <td>{{match.two}}</td>
            </tr>
          </table>
    </ion-content>
</ion-view>