/* Empty. Add your own CSS if you like */
.trip.ng-enter {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}
.trip.ng-enter-stagger {
    -webkit-animation-delay:50ms;
    animation-delay:50ms;

    /* override to make sure it's not inherited from other styles */
    -webkit-animation-duration:0;
    animation-duration:0;
}